{% extends 'restaurant/index.html' %}
{% load static %}
{% load i18n %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock page_styles %}
   
{% block content %}
<div class="galery">
    <h1 style="text-transform:uppercase;">{% trans "Gallery" %}</h1>
    <div class="resim1">
    {% for gallery in gallery_images %}
        {% if forloop.counter <= 3 %}
            {% if forloop.counter|divisibleby:3%}
            <img style="padding-right:15px;" src={{gallery.image.url}}  alt="">
            {% else %}
            <img style="padding-left:15px;" src={{gallery.image.url}} alt="">
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
    <div class="resim2">
        {% for gallery in gallery_images %}
            {% if forloop.counter > 3 and forloop.counter <= 6 %}
                {% if forloop.counter|divisibleby:3%}
                <img style="padding-right:15px;" src={{gallery.image.url}}  alt="">
                {% else %}
                <img style="padding-left:15px;" src={{gallery.image.url}} alt="">
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
</div>
{% endblock content %}